## We saw that  it is possible to filter and manipulate dataframes using pandas methods
#### Let's take a look at them again

In [1]:
# Data science imports
import pandas as pd
import numpy as np

# Options for pandas
pd.options.display.max_rows = 10

In [2]:
# read data
df_trans = pd.read_csv("test-data/tempo1_trinotate_results_filtered.csv", sep="\t")
df_trans

,id,log_FC,edger.p.value,edger.adj.p.value,sprot_Top_BLASTX_hit
0,EDO2139267|c0_g1_i8,-10.269,1.000000e-14,1.600000e-09,.
1,EDO61712|c1_g3_i1,-11.645,4.100000e-14,2.700000e-09,.
2,EDO2102112|c1_g2_i3,-11.645,5.300000e-14,2.700000e-09,"PIP22_MAIZE^PIP22_MAIZE^Q:1-81,H:265-291^92.59..."
3,EDO212082|c0_g2_i1,11.503,1.200000e-13,4.400000e-09,"CHS2_RUTGR^CHS2_RUTGR^Q:94-1263,H:4-393^69.487..."
4,EDO63554|c1_g4_i8,-11.690,1.400000e-13,4.400000e-09,.
...,...,...,...,...,...
9982,EDO2120011|c0_g1_i1,6.605,1.900000e-02,3.000000e-01,"YAEQ_SCHPO^YAEQ_SCHPO^Q:28-237,H:16-78^44.286%..."
9983,EDO212510|c0_g1_i1,6.605,1.900000e-02,3.000000e-01,"CBF1_CANAL^CBF1_CANAL^Q:42-224,H:147-205^54.09..."
9984,EDO214101|c0_g1_i1,6.649,1.900000e-02,2.900000e-01,"LACP_KLULA^LACP_KLULA^Q:3-767,H:275-531^26.641..."
9985,EDO2197965|c0_g1_i1,6.649,1.900000e-02,2.900000e-01,.
9986,EDO213965|c0_g1_i1,6.605,1.900000e-02,3.000000e-01,.

In [3]:
# Let's filter for LogFC > 4
df_trans.loc[df_trans['log_FC'] > 4]

,id,log_FC,edger.p.value,edger.adj.p.value,sprot_Top_BLASTX_hit
3,EDO212082|c0_g2_i1,11.503,1.200000e-13,4.400000e-09,"CHS2_RUTGR^CHS2_RUTGR^Q:94-1263,H:4-393^69.487..."
5,EDO2102373|c1_g1_i7,11.049,2.200000e-12,5.700000e-08,"RENT1_ARATH^RENT1_ARATH^Q:190-3933,H:1-1233^82..."
6,EDO294390|c0_g2_i7,11.691,3.100000e-12,6.900000e-08,"DNJH_CUCSA^DNJH_CUCSA^Q:129-1268,H:1-376^73.49..."
7,EDO294141|c0_g1_i2,8.269,6.700000e-12,1.300000e-07,"HSP11_SOYBN^HSP11_SOYBN^Q:181-657,H:1-153^73.5..."
9,EDO294141|c0_g1_i3,8.995,1.300000e-11,1.800000e-07,"HSP12_MEDSA^HSP12_MEDSA^Q:181-510,H:1-109^72.7..."
...,...,...,...,...,...
9982,EDO2120011|c0_g1_i1,6.605,1.900000e-02,3.000000e-01,"YAEQ_SCHPO^YAEQ_SCHPO^Q:28-237,H:16-78^44.286%..."
9983,EDO212510|c0_g1_i1,6.605,1.900000e-02,3.000000e-01,"CBF1_CANAL^CBF1_CANAL^Q:42-224,H:147-205^54.09..."
9984,EDO214101|c0_g1_i1,6.649,1.900000e-02,2.900000e-01,"LACP_KLULA^LACP_KLULA^Q:3-767,H:275-531^26.641..."
9985,EDO2197965|c0_g1_i1,6.649,1.900000e-02,2.900000e-01,.
9986,EDO213965|c0_g1_i1,6.605,1.900000e-02,3.000000e-01,.

In [4]:
# Now let's filter for adj.pvalue < 0.01
df_trans.loc[df_trans['edger.adj.p.value'] > 0.01]

,id,log_FC,edger.p.value,edger.adj.p.value,sprot_Top_BLASTX_hit
396,EDO61272|c1_g3_i1,8.215,0.000027,0.011,"SCE1_ARATH^SCE1_ARATH^Q:2-151,H:111-160^82%ID^..."
397,EDO23879|c0_g1_i1,10.780,0.000027,0.011,.
398,EDO2134324|c0_g1_i2,10.829,0.000027,0.011,.
400,EDO254305|c0_g1_i4,10.393,0.000028,0.011,"GLYR1_ARATH^GLYR1_ARATH^Q:118-984,H:1-289^80.6..."
401,EDO2174380|c0_g1_i1,10.765,0.000028,0.011,.
...,...,...,...,...,...
9982,EDO2120011|c0_g1_i1,6.605,0.019000,0.300,"YAEQ_SCHPO^YAEQ_SCHPO^Q:28-237,H:16-78^44.286%..."
9983,EDO212510|c0_g1_i1,6.605,0.019000,0.300,"CBF1_CANAL^CBF1_CANAL^Q:42-224,H:147-205^54.09..."
9984,EDO214101|c0_g1_i1,6.649,0.019000,0.290,"LACP_KLULA^LACP_KLULA^Q:3-767,H:275-531^26.641..."
9985,EDO2197965|c0_g1_i1,6.649,0.019000,0.290,.
9986,EDO213965|c0_g1_i1,6.605,0.019000,0.300,.

#### This is all very easy, but as you can see this not very flexible when you want to manipulate your data in real time. After all you love excel :( and excel does this.

# Don't dispair!!!!

#### you will see here how easy is to get the same 'excel' effect in pandas

First you will need to install a package called qgrid

1- Close your notebook 

2- From your terminal run 

```
pip install qgrid
```

3- Now enable the qgrid extension 

```
jupyter nbextension enable --py --sys-prefix qgrid
```

In [5]:
# Let's load our df in qgrid
import qgrid
qgrid_widget= qgrid.show_grid(df_trans, show_toolbar=True)
qgrid_widget

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defauâ€¦

## This is a good start
#### Can we make better than excel?

# Oh yes!!!

#### Let's suppose we want to plot some graphs and update them with live controls

For that we will have to use a powerful tool in jupyter notebooks called widget.

Wigets are a little piece of code that can add amazing functionalities to our plots
Let's get started with  some of them.

#### First things first
1- install the widgets library
```
pip install ipywidgets
```
2- Enable them
```
jupyter nbextension enable --py widgetsnbextension
```

In [6]:
# Let's load some data
df = pd.read_csv("test-data/data.cvs")
df

,Unnamed: 0,claps,days_since_publication,fans,link,num_responses,publication,published_date,read_ratio,read_time,...,type,views,word_count,claps_per_word,editing_days,<tag>Education,<tag>Data Science,<tag>Towards Data Science,<tag>Machine Learning,<tag>Python
0,121,2,716.053848,2,https://medium.com/p/screw-the-environment-but...,0,None,2017-06-10 14:25:00,42.17,7,...,published,166,1859,0.001076,0,0,0,0,0,0
1,132,18,708.735909,3,https://medium.com/p/the-vanquishing-of-war-pl...,0,None,2017-06-17 22:02:00,29.51,14,...,published,183,3891,0.004626,0,0,0,0,0,0
2,119,52,696.116014,20,https://medium.com/p/capstone-project-mercedes...,0,None,2017-06-30 12:55:00,19.98,42,...,published,1121,12025,0.004324,0,0,0,0,1,1
3,130,0,695.273421,0,https://medium.com/p/home-of-the-scared-5af0fe...,0,None,2017-07-01 09:08:00,35.85,9,...,published,53,2533,0.000000,0,0,0,0,0,0
4,123,0,691.285764,0,https://medium.com/p/the-triumph-of-peace-f485...,0,None,2017-07-05 08:51:00,8.33,14,...,published,60,3892,0.000000,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,19,391,135.089829,50,https://towardsdatascience.com/the-reality-of-...,1,Towards Data Science,2019-01-12 13:33:00,24.96,11,...,published,1402,2795,0.139893,8,1,0,0,0,0
129,11,451,130.956990,49,https://towardsdatascience.com/the-myth-of-us-...,0,Towards Data Science,2019-01-16 16:44:00,27.11,10,...,published,1055,2532,0.178120,15,1,0,0,0,0
130,16,3700,126.968103,442,https://towardsdatascience.com/the-poisson-dis...,16,Towards Data Science,2019-01-20 16:28:00,26.87,14,...,published,11752,3371,1.097597,0,1,1,1,0,0
131,17,82,122.299686,18,https://towardsdatascience.com/a-great-public-...,3,Towards Data Science,2019-01-25 08:30:00,18.13,13,...,published,651,3547,0.023118,1,1,0,0,0,0
132,8,4500,119.971295,354,https://towardsdatascience.com/interactive-con...,16,Towards Data Science,2019-01-27 16:23:00,28.88,6,...,published,7532,1191,3.778338,0,1,1,1,0,0

In [7]:
# Import the libraries
import ipywidgets as widgets
from ipywidgets import interact, interact_manual

In [8]:
# How about we write a function that create filters fow us
@interact
def show_articles_more_than(column='claps', x=5000):
    return df.loc[df[column] > x]

interactive(children=(Text(value='claps', description='column'), IntSlider(value=5000, description='x', max=15â€¦

With the **@interact decorator**, the IPywidgets library automatically gives us a text box and a slider for choosing a column and number! It looks at the inputs to our function and creates interactive controls based on the types. Now we can segment the data using the controls (widgets) without writing code.

### Can it get better?

You may have noticed some problems with the widgetsâ€Šâ€”â€Šx can go negative and we had to type in the correct column name. 

We can fix these by providing specific arguments to the function parameter

In [9]:
@interact
def show_articles_more_than(column=['claps', 'views', 'fans','reads'], x=(10, 100000, 10)):
    return df.loc[df[column] > x]

interactive(children=(Dropdown(description='column', options=('claps', 'views', 'fans', 'reads'), value='clapsâ€¦

Now we get a dropdown for the column (with the options in the list) and an integer slider limited to a range (the format is (start, stop, step) ).

In [10]:
# Create a list with all columns and pass it to the function
a = list(df.columns)


@interact
def show_articles_more_than(column=a, x=(10, 100000, 10)):
    return df.loc[df[column] > x]

interactive(children=(Dropdown(description='column', options=('Unnamed: 0', 'claps', 'days_since_publication',â€¦

In [11]:
# Let's make it fancy
from IPython.display import Image, display, HTML
a = list(df.columns)

@interact
def show_articles_more_than(column=a, x=(10, 10000, 10)):
    display(HTML(f'<h2>Showing articles with more than {x} {column}<h2>'))
    display(df.loc[df[column] > x, ['title', 'published_date', 'read_time', 'tags', 'views', 'reads']])

interactive(children=(Dropdown(description='column', options=('Unnamed: 0', 'claps', 'days_since_publication',â€¦

#### Wouldn't be nice if we could create a function that automagically calculate the correlation between two columns?

In [12]:
@interact
def correlations(column1=list(df.select_dtypes(include=['number']).columns), 
                 column2=list(df.select_dtypes(include=['number']).columns)):
    
    print(f"Correlation: {df[column1].corr(df[column2])}")

interactive(children=(Dropdown(description='column1', options=('Unnamed: 0', 'claps', 'days_since_publication'â€¦

In [13]:
# Any function can be transformed this way

@interact
def describe(column=list(df.columns)):
    print(df[column].describe())

interactive(children=(Dropdown(description='column', options=('Unnamed: 0', 'claps', 'days_since_publication',â€¦

In [14]:
# Standard Data Science Helpers
import numpy as np
import pandas as pd
import scipy

import plotly.plotly as py
import plotly.graph_objs as go
from plotly.offline import iplot, init_notebook_mode
init_notebook_mode(connected=True)

import cufflinks as cf
cf.go_offline(connected=True)
cf.set_config_file(colorscale='plotly', world_readable=True)

# Extra options
pd.options.display.max_rows = 30
pd.options.display.max_columns = 25

# Show all code cells outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

# What about plots?

In [15]:
@interact
def scatter_plot(x=list(df.select_dtypes(include=['number']).columns), 
                 y=list(df.select_dtypes(include=['number']).columns)[1:],
                 theme=list(cf.themes.THEMES.keys()), 
                 colorscale=list(cf.colors._scales_names.keys())):
    
    df.iplot(kind='scatter', x=x, y=y, mode='markers', 
             xTitle=x.title(), yTitle=y.title(), 
             text='title',
             title=f'{y.title()} vs {x.title()}',
            theme=theme, colorscale=colorscale)

interactive(children=(Dropdown(description='x', options=('Unnamed: 0', 'claps', 'days_since_publication', 'fanâ€¦

In [16]:
# Categorize the points

df['binned_read_time'] = pd.cut(df['read_time'], bins=range(0, 56, 5))
df['binned_read_time'] = df['binned_read_time'].astype(str)

df['binned_word_count'] = pd.cut(df['word_count'], bins=range(0, 100001, 1000))
df['binned_word_count'] = df['binned_word_count'].astype(str)

@interact
def scatter_plot(x=list(df.select_dtypes(include=['number']).columns), 
                 y=list(df.select_dtypes(include=['number']).columns)[1:],
                 categories=['binned_read_time', 'binned_word_count', 'publication', 'type'],
                 theme=list(cf.themes.THEMES.keys()), 
                 colorscale=list(cf.colors._scales_names.keys())):
    
    df.iplot(kind='scatter', x=x, y=y, mode='markers', 
             categories=categories, 
             xTitle=x.title(), yTitle=y.title(), 
             text='title',
             title=f'{y.title()} vs {x.title()}',
             theme=theme, colorscale=colorscale)

interactive(children=(Dropdown(description='x', options=('Unnamed: 0', 'claps', 'days_since_publication', 'fanâ€¦

In [17]:
from ipywidgets import interact_manual

In [18]:
@interact_manual
def scatter_plot(x=list(df.select_dtypes(include=['number']).columns), 
                 y=list(df.select_dtypes(include=['number']).columns)[1:],
                 categories=['binned_read_time', 'binned_word_count', 'publication', 'type'],
                 theme=list(cf.themes.THEMES.keys()), 
                 colorscale=list(cf.colors._scales_names.keys())):
    
    df.iplot(kind='scatter', x=x, y=y, mode='markers', 
             categories=categories, 
             xTitle=x.title(), yTitle=y.title(), 
             text='title',
             title=f'{y.title()} vs {x.title()}',
             theme=theme, colorscale=colorscale)

interactive(children=(Dropdown(description='x', options=('Unnamed: 0', 'claps', 'days_since_publication', 'fanâ€¦

In [19]:
cscales = ['Greys', 'YlGnBu', 'Greens', 'YlOrRd', 'Bluered', 'RdBu',
            'Reds', 'Blues', 'Picnic', 'Rainbow', 'Portland', 'Jet',
            'Hot', 'Blackbody', 'Earth', 'Electric', 'Viridis', 'Cividis']

In [20]:
import plotly.figure_factory as ff

corrs = df.corr()

@interact_manual
def plot_corrs(colorscale=cscales):
    figure = ff.create_annotated_heatmap(z = corrs.round(2).values, 
                                     x =list(corrs.columns), 
                                     y=list(corrs.index), 
                                     colorscale=colorscale,
                                     annotation_text=corrs.round(2).values)
    iplot(figure)

interactive(children=(Dropdown(description='colorscale', options=('Greys', 'YlGnBu', 'Greens', 'YlOrRd', 'Blueâ€¦